/* Css Document*/

/* Defaults */
html {
    font-family: sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    width: 98vw;
}

body {
    margin: 0;
}

table {
    width: 40%;
    margin: 30px auto 30px;
    border: 1px solid #fff;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid white;
    transition: .2s all ease-in-out;
    padding: 10px;
    font-size: 1.4em;
    cursor: pointer;
}

table td:hover, table th:hover {
    background-color: #858585;
}

table td:active, table th:active {
    background-color: rgb(46, 255, 255);
}

.wrapper {
    width: 60vw;
    margin: auto;
    border: 2px solid white;
    box-shadow: 0px 0px 10px white;
}

header {
    height: 60vh;
    background-color: black;
}

header h1 {
    margin: 0;
    font-size: 6vw;
    padding: 20vh 0 0 0;
    text-align: center;
}

.box {
    width: 300px;
    height: 200px;
    border: 1px solid white;
    background-color: #222;
    margin: 30px;
}

box-no-overflow {
    margin-bottom: 300px;
}

.box-overflow-hidden {
    overflow: hidden;
}

.box-overflow-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.box-overflow-scroll img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.box-overflow-scroll p{
    width: 400px;
}

.scroller-parent {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroller {
    display: flex;
    width: 3000px;
}

.scroller div {
    flex: 1;
    height: 200px;
    border: 1px solid #fff;
    margin: 20px;
}

.logo {
    width: 100px;
    display: block;
    margin: 30px auto;
}